/*
	Base
*/


$base: 16px;




/*
	Responsive Breakpoints
*/


$xs-max: 767px;
$sm-min: 768px;      // 48em
$sm-max: 1023px;
$md-min: 1024px;     // 64em
$md-max: 1279px;
$lg-min: 1280px;     // 80em




/*
	Modules
*/


@import "modules/brass_typography";
@import "modules/brass_grid";
@import "modules/brass_box-model";
@import "modules/brass_tables";
@import "modules/brass_positionin g";