.table
{
	width: 100%;
	max-width: 100%;
	background-color: transparent;
	th, td {
		padding: $base-size * .75;
	}
	th {
		text-align: left;
	}
}

.table-sm th,
.table-sm td
{
	padding: $base-size * .5;
}

.table-md th,
.table-md td
{
	padding: $base-size * .75;
}

.table-lg th,
.table-lg td
{
	padding: $base-size;
}

@media screen and (max-width: $xs-max) {
	.table-r
	{
		width: 100%;
		display: block;
		overflow-x: hidden;
	}
}