/* Box-model
--------------- */


.hide           { display: none !important; }
.db             { display: block; }
.dib            { display: inline-block; }
.di             { display: inline; }
.dt             { display: table; }
.dtc            { display: table-cell; }

.cf

.w-full         { width: 100%; }
.fit            { max-width: 100% !important; }

.fl             { float: left !important; }
.fr             { float: right !important; }
.float-off      { float: right !important; }
.cb             { clear: both !important; }

//  cards

//  secondary text, for headers
//  ablity to line break that text,
//  move it down to the next line by adding a class