/*
	Box Model
*/


.hide           { display: none !important; }
.db             { display: block; }
.dib            { display: inline-block; }
.di             { display: inline; }
.dt             { display: table; }
.dtc            { display: table-cell; }

.fl             { float: left !important; }
.fr             { float: right !important; }
.fn             { float: none !important; }
.cb             { clear: both !important; }

.full           { width: 100%; }
.fit            { max-width: 100% !important; }

.cf:after
{
	content: '';
	display: table;
	clear: both;
}