/*
	Typography
*/


.h1                 { font-size: $base * 4; }
.h2                 { font-size: $base * 3; }
.h3                 { font-size: $base * 2; }
.h4                 { font-size: $base * 1.5; }
.h5                 { font-size: $base * 1.25; }
.h6                 { font-size: $base; }

.small              { font-size: $base * .75; }

.heading
{
	margin-top: $base * 1.5;
	margin-bottom: $base;
}

.ul
{
	margin: $base;
	padding-left: $base;
	li {
		margin: ($base * .5) 0;
	}
	li li {
		margin: ($base * .5) 0;
		font-size: $base * .875;
	}
}

.ul-i
{
	margin-left: (-$base) * .5;
	padding: 0;
	& > li {
		padding-right: $base * .5;
		padding-left: $base * .5;
		display: inline-block;
	}
}

.nostyle
{
	padding: 0;
	list-style: none !important;
}

.ul-sm li,
.ul .ul-sm li       { margin: $base * .25 0; }
.ul-md li,
.ul .ul-md li       { margin: $base * .75 0; }
.ul-lg li,
.ul .ul-lg li       { margin: $base 0; }

.normal             { font-weight: normal; }
.strong             { font-weight: bold; }
.italic             { font-style: italic; }

.text-left          { text-align: left; }
.text-right         { text-align: right; }
.text-center        { text-align: center; }