/*
	Typography
*/


.h1                 { font-size: $base * 4; }
.h2                 { font-size: $base * 3; }
.h3                 { font-size: $base * 2; }
.h4                 { font-size: $base * 1.5; }
.h5                 { font-size: $base * 1.25; }
.h6                 { font-size: $base; }

.small              { font-size: $base * .75; }

.heading
{
	margin-top: $base * 1.5;
	margin-bottom: $base;
}

.heading-i
{
	margin-top: $base;
	margin-bottom: $base * 1.5;
}

.ul
{
	margin: $base;
	.ul {
		// margin: $base; -or- margin: $base ($base * .875);
		// one of the two is right, or neither because already defined
	}
	li {
		// margin: ($base * .5) 0;
		// instead of defining li spacing,
		// let ul-sm (etc) define
		li {
			// margin: ($base * .5) 0;
			// instead of defining nested li spacing,
			// let ul-sm (etc) define
			font-size: $base * .875;
		}
	}
}

.ul-inline
{
	margin-left: (-$base) * .5;
	padding: 0;
	& > li {
		padding-right: $base * .5;
		padding-left: $base * .5;
		display: inline-block;
	}
}

.ul-unstyle
{
	padding: 0;
	list-style: none !important;
}

// Also solution for totally unstyled list
// like with no margin on .ul
// but should ppl have to do m-0 for it or what then


// Indent-lg option could offer the "40px" indent for .ul
// Too much work?


// Btn's baby
// Interesting border: 1px solid transparent;
// effect has better spacing

.ul-sm li           { margin: $base * .25 0; }
.ul-md li           { margin: $base * .5 0; }
.ul-lg li           { margin: $base * .75 0; }

.indent             { padding-left: $base; }

.italic             { font-style: italic; }
.normal             { font-weight: normal; }
.strong             { font-weight: bold; }

.text-left          { text-align: left; }
.text-right         { text-align: right; }
.text-center        { text-align: center; }
.text-justify       { text-align: justify; }