/*
	Typography
*/


.h00            { font-size: $base-size * 4; }
.h0             { font-size: $base-size * 3.5; }
.h1             { font-size: $base-size * 3; }
.h2             { font-size: $base-size * 2.5; }
.h3             { font-size: $base-size * 2; }
.h4             { font-size: $base-size * 1.5; }
.h5             { font-size: $base-size * 1.25; }
.h6             { font-size: $base-size; }

.heading
{
	margin-top: $base-size * 1.5;
	margin-bottom: $base-size;
}

.heading-i
{
	margin-top: $base-size;
	margin-bottom: $base-size * 1.5;
}

.ul
{
	margin: $base-size;
	.ul {
		margin: $base-size $base-size * .875;
	}
	li {
		margin: $base-size * .5 0;
		li {
			margin: $base-size * .5 0;
			font-size: .875em;
		}
	}
}

.ul-inline
{
	margin-left: -$base-size * .5;
	padding: 0;
	& > li {
		padding-right: $base-size * .5;
		padding-left: $base-size * .5;
		display: inline-block;
	}
}

.ul-unstyle
{
	padding: 0;
	list-style: none !important;
}

.ul-sm li           { margin: $base-size * .25 0; }
.ul-md li           { margin: $base-size * .5 0; }
.ul-lg li           { margin: $base-size * .75 0; }

.indent             { padding-left: $base-size; }

.small          { font-size: $base-size * .8; }
.italic         { font-style: italic; }
.normal         { font-weight: normal; }
.strong         { font-weight: bold; }

.text-left      { text-align: left; }
.text-right     { text-align: right; }
.text-center    { text-align: center; }
.text-justify   { text-align: justify; }