/*
	Grid
*/


@media (max-width: $xs-max) {
	.hide-xs        { display: none !important; }
}
@media (min-width: $sm-min) and (max-width: $sm-max) {
	.hide-sm        { display: none !important; }
}
@media (min-width: $md-min) and (max-width: $md-max) {
	.hide-md        { display: none !important; }
}
@media (min-width: $lg-min) {
	.hide-lg        { display: none !important; }
}

.row
{
	margin: 0 auto;
	width: 100%;
	max-width: $base-size * 64;
	.row, .row-fluid {
		margin: 0 (-$base-size);
		width: auto;
	}
}

.row-fluid
{
	margin: 0 auto;
	width: 100%;
	.row, .row-fluid {
		margin: 0 (-$base-size);
	}
}

.spacing > [class*="xs-c"],
.spacing > [class*="sm-c"],
.spacing > [class*="md-c"],
.spacing > [class*="lg-c"]
{
	margin-bottom: $base-size;
}

[class*="xs-c"],
[class*="sm-c"],
[class*="md-c"],
[class*="lg-c"]
{
	padding-right: $base-size;
	padding-left: $base-size;
	min-height: 1px;
	float: left;
	position: relative;
}

.xs-c1              { width: 8.333333%; }
.xs-c2              { width: 16.666667%; }
.xs-c3              { width: 25%; }
.xs-c4              { width: 33.333333%; }
.xs-c5              { width: 41.666667%; }
.xs-c6              { width: 50%; }
.xs-c7              { width: 58.333333%; }
.xs-c8              { width: 66.666667%; }
.xs-c9              { width: 75%; }
.xs-c10             { width: 83.333333%;}
.xs-c11             { width: 91.666667%;}
.xs-c12             { width: 100%;}

.xs-pull-0          { right: auto; }
.xs-pull-1          { right: 8.333333%; }
.xs-pull-2          { right: 16.666667%; }
.xs-pull-3          { right: 25%; }
.xs-pull-4          { right: 33.333333%; }
.xs-pull-5          { right: 41.666667%; }
.xs-pull-6          { right: 50%; }
.xs-pull-7          { right: 58.333333%; }
.xs-pull-8          { right: 66.666667%; }
.xs-pull-9          { right: 75%; }
.xs-pull-10         { right: 83.333333%; }
.xs-pull-11         { right: 91.666667%; }
.xs-pull-12         { right: 100%; }

.xs-push-0          { left: auto; }
.xs-push-1          { left: 8.333333%; }
.xs-push-2          { left: 16.666667%; }
.xs-push-3          { left: 25%; }
.xs-push-4          { left: 33.333333%; }
.xs-push-5          { left: 41.666667%; }
.xs-push-6          { left: 50%; }
.xs-push-7          { left: 58.333333%; }
.xs-push-8          { left: 66.666667%; }
.xs-push-9          { left: 75%; }
.xs-push-10         { left: 83.333333%; }
.xs-push-11         { left: 91.666667%; }
.xs-push-12         { left: 100%; }

.xs-offs-0          { margin-left: 0; }
.xs-offs-1          { margin-left: 8.333333%; }
.xs-offs-2          { margin-left: 16.666667%; }
.xs-offs-3          { margin-left: 25%; }
.xs-offs-4          { margin-left: 33.333333%; }
.xs-offs-5          { margin-left: 41.666667%; }
.xs-offs-6          { margin-left: 50%; }
.xs-offs-7          { margin-left: 58.333333%; }
.xs-offs-8          { margin-left: 66.666667%; }
.xs-offs-9          { margin-left: 75%; }
.xs-offs-10         { margin-left: 83.333333%; }
.xs-offs-11         { margin-left: 91.666667%; }
.xs-offs-12         { margin-left: 100%; }

.xs-center
{
	margin-right: auto;
	margin-left: auto;
	float: none;
	display: table;
}

@media (min-width: $sm-min) {
	[class*="sm-c"] { float: left; }

	.sm-c1          { width: 8.333333%; }
	.sm-c2          { width: 16.666667%; }
	.sm-c3          { width: 25%; }
	.sm-c4          { width: 33.333333%; }
	.sm-c5          { width: 41.666667%; }
	.sm-c6          { width: 50%; }
	.sm-c7          { width: 58.333333%; }
	.sm-c8          { width: 66.666667%; }
	.sm-c9          { width: 75%; }
	.sm-c10         { width: 83.333333%; }
	.sm-c11         { width: 91.666667%; }
	.sm-c12         { width: 100%; }

	.sm-pull-0      { right: auto; }
	.sm-pull-1      { right: 8.333333%; }
	.sm-pull-2      { right: 16.666667%; }
	.sm-pull-3      { right: 25%; }
	.sm-pull-4      { right: 33.333333%; }
	.sm-pull-5      { right: 41.666667%; }
	.sm-pull-6      { right: 50%; }
	.sm-pull-7      { right: 58.333333%; }
	.sm-pull-8      { right: 66.666667%; }
	.sm-pull-9      { right: 75%; }
	.sm-pull-10     { right: 83.333333%; }
	.sm-pull-11     { right: 91.666667%; }
	.sm-pull-12     { right: 100%; }

	.sm-push-0      { left: auto; }
	.sm-push-1      { left: 8.333333%; }
	.sm-push-2      { left: 16.666667%; }
	.sm-push-3      { left: 25%; }
	.sm-push-4      { left: 33.333333%; }
	.sm-push-5      { left: 41.666667%; }
	.sm-push-6      { left: 50%; }
	.sm-push-7      { left: 58.333333%; }
	.sm-push-8      { left: 66.666667%; }
	.sm-push-9      { left: 75%; }
	.sm-push-10     { left: 83.333333%; }
	.sm-push-11     { left: 91.666667%; }
	.sm-push-12     { left: 100%; }

	.sm-offs-0      { margin-left: 0; }
	.sm-offs-1      { margin-left: 8.333333%; }
	.sm-offs-2      { margin-left: 16.666667%; }
	.sm-offs-3      { margin-left: 25%; }
	.sm-offs-4      { margin-left: 33.333333%; }
	.sm-offs-5      { margin-left: 41.666667%; }
	.sm-offs-6      { margin-left: 50%; }
	.sm-offs-7      { margin-left: 58.333333%; }
	.sm-offs-8      { margin-left: 66.666667%; }
	.sm-offs-9      { margin-left: 75%; }
	.sm-offs-10     { margin-left: 83.333333%; }
	.sm-offs-11     { margin-left: 91.666667%; }
	.sm-offs-12     { margin-left: 100%; }

	.sm-center
	{
		margin-right: auto;
		margin-left: auto;
		float: none;
		display: table;
	}
}

@media (min-width: $md-min) {
	[class*="md-c"] { float: left; }

	.md-c1          { width: 8.333333%; }
	.md-c2          { width: 16.666667%; }
	.md-c3          { width: 25%; }
	.md-c4          { width: 33.333333%; }
	.md-c5          { width: 41.666667%; }
	.md-c6          { width: 50%; }
	.md-c7          { width: 58.333333%; }
	.md-c8          { width: 66.666667%; }
	.md-c9          { width: 75%; }
	.md-c10         { width: 83.333333%; }
	.md-c11         { width: 91.666667%; }
	.md-c12         { width: 100%; }

	.md-pull-0      { right: auto; }
	.md-pull-1      { right: 8.333333%; }
	.md-pull-2      { right: 16.666667%; }
	.md-pull-3      { right: 25%; }
	.md-pull-4      { right: 33.333333%; }
	.md-pull-5      { right: 41.666667%; }
	.md-pull-6      { right: 50%; }
	.md-pull-7      { right: 58.333333%; }
	.md-pull-8      { right: 66.666667%; }
	.md-pull-9      { right: 75%; }
	.md-pull-10     { right: 83.333333%; }
	.md-pull-11     { right: 91.666667%; }
	.md-pull-12     { right: 100%; }

	.md-push-0      { left: auto; }
	.md-push-1      { left: 8.333333%; }
	.md-push-2      { left: 16.666667%; }
	.md-push-3      { left: 25%; }
	.md-push-4      { left: 33.333333%; }
	.md-push-5      { left: 41.666667%; }
	.md-push-6      { left: 50%; }
	.md-push-7      { left: 58.333333%; }
	.md-push-8      { left: 66.666667%; }
	.md-push-9      { left: 75%; }
	.md-push-10     { left: 83.333333%; }
	.md-push-11     { left: 91.666667%; }
	.md-push-12     { left: 100%; }

	.md-offs-0      { margin-left: 0; }
	.md-offs-1      { margin-left: 8.333333%; }
	.md-offs-2      { margin-left: 16.666667%; }
	.md-offs-3      { margin-left: 25%; }
	.md-offs-4      { margin-left: 33.333333%; }
	.md-offs-5      { margin-left: 41.666667%; }
	.md-offs-6      { margin-left: 50%; }
	.md-offs-7      { margin-left: 58.333333%; }
	.md-offs-8      { margin-left: 66.666667%; }
	.md-offs-9      { margin-left: 75%; }
	.md-offs-10     { margin-left: 83.333333%; }
	.md-offs-11     { margin-left: 91.666667%; }
	.md-offs-12     { margin-left: 100%; }

	.md-center
	{
		margin-right: auto;
		margin-left: auto;
		float: none;
		display: table;
	}
}

@media (min-width: $lg-min) {
	[class*="lg-c"] { float: left; }

	.lg-c1          { width: 8.333333%; }
	.lg-c2          { width: 16.666667%; }
	.lg-c3          { width: 25%; }
	.lg-c4          { width: 33.333333%; }
	.lg-c5          { width: 41.666667%; }
	.lg-c6          { width: 50%; }
	.lg-c7          { width: 58.333333%; }
	.lg-c8          { width: 66.666667%; }
	.lg-c9          { width: 75%; }
	.lg-c10         { width: 83.333333%; }
	.lg-c11         { width: 91.666667%; }
	.lg-c12         { width: 100%; }
	
	.lg-pull-0      { right: auto; }
	.lg-pull-1      { right: 8.333333%; }
	.lg-pull-2      { right: 16.666667%; }
	.lg-pull-3      { right: 25%; }
	.lg-pull-4      { right: 33.333333%; }
	.lg-pull-5      { right: 41.666667%; }
	.lg-pull-6      { right: 50%; }
	.lg-pull-7      { right: 58.333333%; }
	.lg-pull-8      { right: 66.666667%; }
	.lg-pull-9      { right: 75%; }
	.lg-pull-10     { right: 83.333333%; }
	.lg-pull-11     { right: 91.666667%; }
	.lg-pull-12     { right: 100%; }

	.lg-push-0      { left: auto; }
	.lg-push-1      { left: 8.333333%; }
	.lg-push-2      { left: 16.666667%; }
	.lg-push-3      { left: 25%; }
	.lg-push-4      { left: 33.333333%; }
	.lg-push-5      { left: 41.666667%; }
	.lg-push-6      { left: 50%; }
	.lg-push-7      { left: 58.333333%; }
	.lg-push-8      { left: 66.666667%; }
	.lg-push-9      { left: 75%; }
	.lg-push-10     { left: 83.333333%; }
	.lg-push-11     { left: 91.666667%; }
	.lg-push-12     { left: 100%; }

	.lg-offs-0      { margin-left: 0; }
	.lg-offs-1      { margin-left: 8.333333%; }
	.lg-offs-2      { margin-left: 16.666667%; }
	.lg-offs-3      { margin-left: 25%; }
	.lg-offs-4      { margin-left: 33.333333%; }
	.lg-offs-5      { margin-left: 41.666667%; }
	.lg-offs-6      { margin-left: 50%; }
	.lg-offs-7      { margin-left: 58.333333%; }
	.lg-offs-8      { margin-left: 66.666667%; }
	.lg-offs-9      { margin-left: 75%; }
	.lg-offs-10     { margin-left: 83.333333%; }
	.lg-offs-11     { margin-left: 91.666667%; }
	.lg-offs-12     { margin-left: 100%; }

	.lg-center
	{
		margin-right: auto;
		margin-left: auto;
		float: none;
		display: table;
	}
}

.row:before,
.row:after,
.row-fluid:before,
.row-fluid:after {
	content: '';
	display: table;
}
.row:after,
.row-fluid:after {
	clear: both;
}

.row,
.row:before,
.row:after,
.row *,
.row *:before,
.row *:after,
.row-fluid,
.row-fluid:before,
.row-fluid:after,
.row-fluid *,
.row-fluid *:before,
.row-fluid *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}