.show-xs,
.show-sm,
.show-md,
.show-lg,
.show-xs-block,
.show-xs-inline,
.show-xs-inline-block,
.show-sm-block,
.show-sm-inline,
.show-sm-inline-block,
.show-md-block,
.show-md-inline,
.show-md-inline-block,
.show-lg-block,
.show-lg-inline,
.show-lg-inline-block {
  display: none !important;
}
@media (max-width: $xs-max) {
  .show-xs {
    display: block !important;
  }
  table.show-xs {
    display: table;
  }
  tr.show-xs {
    display: table-row !important;
  }
  th.show-xs,
  td.show-xs {
    display: table-cell !important;
  }
  .show-xs-block {
    display: block !important;
  }
  .show-xs-inline {
    display: inline !important;
  }
  .show-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: $sm-min) and (max-width: $sm-max) {
  .show-sm {
    display: block !important;
  }
  table.show-sm {
    display: table;
  }
  tr.show-sm {
    display: table-row !important;
  }
  th.show-sm,
  td.show-sm {
    display: table-cell !important;
  }
  .show-sm-block {
    display: block !important;
  }
  .show-sm-inline {
    display: inline !important;
  }
  .show-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: $md-min) and (max-width: $md-max) {
  .show-md {
    display: block !important;
  }
  table.show-md {
    display: table;
  }
  tr.show-md {
    display: table-row !important;
  }
  th.show-md,
  td.show-md {
    display: table-cell !important;
  }
  .show-md-block {
    display: block !important;
  }
  .show-md-inline {
    display: inline !important;
  }
  .show-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: $lg-min) {
  .show-lg {
    display: block !important;
  }
  table.show-lg {
    display: table;
  }
  tr.show-lg {
    display: table-row !important;
  }
  th.show-lg,
  td.show-lg {
    display: table-cell !important;
  }
  .show-lg-block {
    display: block !important;
  }
  .show-lg-inline {
    display: inline !important;
  }
  .show-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: $xs-max) {
  .hide-xs {
    display: none !important;
  }
}
@media (min-width: $sm-min) and (max-width: $sm-max) {
  .hide-sm {
    display: none !important;
  }
}
@media (min-width: $md-min) and (max-width: $md-max) {
  .hide-md {
    display: none !important;
  }
}
@media (min-width: $lg-min) {
  .hide-lg {
    display: none !important;
  }
}

.row {
  margin: 0 auto;
  width: 100%;
  max-width: $base-size * 64;
}
.xs-c1, .xs-c2, .xs-c3, .xs-c4, .xs-c5, .xs-c6, .xs-c7, .xs-c8, .xs-c9, .xs-c10, .xs-c11, .xs-c12, .sm-c1, .sm-c2, .sm-c3, .sm-c4, .sm-c5, .sm-c6, .sm-c7, .sm-c8, .sm-c9, .sm-c10, .sm-c11, .sm-c12, .md-c1, .md-c2, .md-c3, .md-c4, .md-c5, .md-c6, .md-c7, .md-c8, .md-c9, .md-c10, .md-c11, .md-c12, .lg-c1, .lg-c2, .lg-c3, .lg-c4, .lg-c5, .lg-c6, .lg-c7, .lg-c8, .lg-c9, .lg-c10, .lg-c11, .lg-c12 {
  padding-right: $base-size;
  padding-left: $base-size;
  min-height: 1px;
  float: left;
  position: relative;
}

.xs-c1 {
  width: 8.333333%;
}
.xs-c2 {
  width: 16.666667%;
}
.xs-c3 {
  width: 25%;
}
.xs-c4 {
  width: 33.333333%;
}
.xs-c5 {
  width: 41.666667%;
}
.xs-c6 {
  width: 50%;
}
.xs-c7 {
  width: 58.333333%;
}
.xs-c8 {
  width: 66.666667%;
}
.xs-c9 {
  width: 75%;
}
.xs-c10 {
  width: 83.333333%;
}
.xs-c11 {
  width: 91.666667%;
}
.xs-c12 {
  width: 100%;
}
.xs-pull-0 {
  right: auto;
}
.xs-pull-1 {
  right: 8.333333%;
}
.xs-pull-2 {
  right: 16.666667%;
}
.xs-pull-3 {
  right: 25%;
}
.xs-pull-4 {
  right: 33.333333%;
}
.xs-pull-5 {
  right: 41.666667%;
}
.xs-pull-6 {
  right: 50%;
}
.xs-pull-7 {
  right: 58.333333%;
}
.xs-pull-8 {
  right: 66.666667%;
}
.xs-pull-9 {
  right: 75%;
}
.xs-pull-10 {
  right: 83.333333%;
}
.xs-pull-11 {
  right: 91.666667%;
}
.xs-pull-12 {
  right: 100%;
}
.xs-push-0 {
  left: auto;
}
.xs-push-1 {
  left: 8.333333%;
}
.xs-push-2 {
  left: 16.666667%;
}
.xs-push-3 {
  left: 25%;
}
.xs-push-4 {
  left: 33.333333%;
}
.xs-push-5 {
  left: 41.666667%;
}
.xs-push-6 {
  left: 50%;
}
.xs-push-7 {
  left: 58.333333%;
}
.xs-push-8 {
  left: 66.666667%;
}
.xs-push-9 {
  left: 75%;
}
.xs-push-10 {
  left: 83.333333%;
}
.xs-push-11 {
  left: 91.666667%;
}
.xs-push-12 {
  left: 100%;
}
.xs-offset-0 {
  margin-left: 0;
}
.xs-offset-1 {
  margin-left: 8.333333%;
}
.xs-offset-2 {
  margin-left: 16.666667%;
}
.xs-offset-3 {
  margin-left: 25%;
}
.xs-offset-4 {
  margin-left: 33.333333%;
}
.xs-offset-5 {
  margin-left: 41.666667%;
}
.xs-offset-6 {
  margin-left: 50%;
}
.xs-offset-7 {
  margin-left: 58.333333%;
}
.xs-offset-8 {
  margin-left: 66.666667%;
}
.xs-offset-9 {
  margin-left: 75%;
}
.xs-offset-10 {
  margin-left: 83.333333%;
}
.xs-offset-11 {
  margin-left: 91.666667%;
}
.xs-offset-12 {
  margin-left: 100%;
}
.xs-center {
  margin-right: auto;
  margin-left: auto;
  float: none;
}

@media (min-width: 768px) {
  .col-sm-1 {
    width: 8.333333%;
  }
  .col-sm-2 {
    width: 16.666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.333333%;
  }
  .col-sm-5 {
    width: 41.666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.333333%;
  }
  .col-sm-8 {
    width: 66.666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.333333%;
  }
  .col-sm-11 {
    width: 91.666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-pull-1 {
    right: 8.333333%;
  }
  .col-sm-pull-2 {
    right: 16.666667%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-4 {
    right: 33.333333%;
  }
  .col-sm-pull-5 {
    right: 41.666667%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-7 {
    right: 58.333333%;
  }
  .col-sm-pull-8 {
    right: 66.666667%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-10 {
    right: 83.333333%;
  }
  .col-sm-pull-11 {
    right: 91.666667%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-push-1 {
    left: 8.333333%;
  }
  .col-sm-push-2 {
    left: 16.666667%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-4 {
    left: 33.333333%;
  }
  .col-sm-push-5 {
    left: 41.666667%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-7 {
    left: 58.333333%;
  }
  .col-sm-push-8 {
    left: 66.666667%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-10 {
    left: 83.333333%;
  }
  .col-sm-push-11 {
    left: 91.666667%;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
  .col-sm-offset-1 {
    margin-left: 8.333333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.666667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.333333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.666667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.333333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.666667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.333333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.666667%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .sm-center {
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
}

@media (min-width: 992px) {
  .col-md-1 {
    width: 8.333333%;
  }
  .col-md-2 {
    width: 16.666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333333%;
  }
  .col-md-5 {
    width: 41.666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333333%;
  }
  .col-md-8 {
    width: 66.666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.333333%;
  }
  .col-md-11 {
    width: 91.666667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-pull-1 {
    right: 8.333333%;
  }
  .col-md-pull-2 {
    right: 16.666667%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-4 {
    right: 33.333333%;
  }
  .col-md-pull-5 {
    right: 41.666667%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-7 {
    right: 58.333333%;
  }
  .col-md-pull-8 {
    right: 66.666667%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-10 {
    right: 83.333333%;
  }
  .col-md-pull-11 {
    right: 91.666667%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-push-1 {
    left: 8.333333%;
  }
  .col-md-push-2 {
    left: 16.666667%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-4 {
    left: 33.333333%;
  }
  .col-md-push-5 {
    left: 41.666667%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-7 {
    left: 58.333333%;
  }
  .col-md-push-8 {
    left: 66.666667%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-10 {
    left: 83.333333%;
  }
  .col-md-push-11 {
    left: 91.666667%;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
  .col-md-offset-1 {
    margin-left: 8.333333%;
  }
  .col-md-offset-2 {
    margin-left: 16.666667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.333333%;
  }
  .col-md-offset-5 {
    margin-left: 41.666667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.333333%;
  }
  .col-md-offset-8 {
    margin-left: 66.666667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.333333%;
  }
  .col-md-offset-11 {
    margin-left: 91.666667%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .md-center {
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
}

@media (min-width: 1200px) {
  .col-lg-1 {
    width: 8.333333%;
  }
  .col-lg-2 {
    width: 16.666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.333333%;
  }
  .col-lg-5 {
    width: 41.666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333333%;
  }
  .col-lg-8 {
    width: 66.666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.333333%;
  }
  .col-lg-11 {
    width: 91.666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-pull-1 {
    right: 8.333333%;
  }
  .col-lg-pull-2 {
    right: 16.666667%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-4 {
    right: 33.333333%;
  }
  .col-lg-pull-5 {
    right: 41.666667%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-7 {
    right: 58.333333%;
  }
  .col-lg-pull-8 {
    right: 66.666667%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-10 {
    right: 83.333333%;
  }
  .col-lg-pull-11 {
    right: 91.666667%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-push-1 {
    left: 8.333333%;
  }
  .col-lg-push-2 {
    left: 16.666667%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-4 {
    left: 33.333333%;
  }
  .col-lg-push-5 {
    left: 41.666667%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-7 {
    left: 58.333333%;
  }
  .col-lg-push-8 {
    left: 66.666667%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-10 {
    left: 83.333333%;
  }
  .col-lg-push-11 {
    left: 91.666667%;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
  .col-lg-offset-1 {
    margin-left: 8.333333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.666667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.333333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.666667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.666667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.333333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.666667%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .lg-center {
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
}

.row:before,
.row:after,
.row-fluid:before,
.row-fluid:after {
  content: '';
  display: table;
}
.row:after,
.row-fluid:after {
  clear: both;
}

.row,
.row:before,
.row:after,
.row *,
.row *:before,
.row *:after,
.row-fluid,
.row-fluid:before,
.row-fluid:after,
.row-fluid *,
.row-fluid *:before,
.row-fluid *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}