/*
	Typography
*/


.h00            { font-size: $base-size * 4; }
.h0             { font-size: $base-size * 3.5; }
.h1             { font-size: $base-size * 3; }
.h2             { font-size: $base-size * 2.5; }
.h3             { font-size: $base-size * 2; }
.h4             { font-size: $base-size * 1.5; }
.h5             { font-size: $base-size; }
.h6             { font-size: $base-size * .75; }

.lead           { font-size: $base-size * 1.25; }
.small          { font-size: $base-size * .8; }

.heading
{
	margin-top: $base-size * 1.5;
	margin-bottom: $base-size;
}

.heading-i
{
	margin-top: $base-size;
	margin-bottom: $base-size * 1.5;
}

.ul
{
	margin: $base-size;
	list-style: disc;
	li {
		margin: $base-size * .5 0;
		li {
			font-size: .875em;
		}
	}
}

.ul-sm li
{
	margin-top: $base-size * .25;
	margin-bottom: $base-size * .25;
}

.ul-md li
{
	margin-top: $base-size * .5;
	margin-bottom: $base-size * .5;
}

.ul-lg li
{
	margin-top: $base-size * .75;
	margin-bottom: $base-size * .75;
}

.ul-inline
{
	padding: 0;
	margin-left: -$base-size * .5;
}

.ul-inline > li
{
	padding-right: $base-size * .5;
	padding-left: $base-size * .5;
	display: inline-block;
}

.ul-unstyle
{
	padding: 0;
	list-style: none !important;
}

.indent
{
	padding-left: $base-size * .5;
}

.indent-lg
{
	padding-left: $base-size;
}

.text-bold      { font-weight: bold; }
.text-italic    { font-style: italic; }
.text-left      { text-align: left; }
.text-right     { text-align: right; }
.text-center    { text-align: center; }
.text-justify   { text-align: justify; }
.text-lower     { text-transform: lowercase; }
.text-upper     { text-transform: uppercase; }
.text-caps      { text-transform: capitalize; }
.text-dark      { color: #333; }
.text-muted     { color: #777; }